body {
  padding: 0 20px;
}

code {
  width: 100%;
  display:flex;
}

nav li .active {
  color: #888888;
}

.loginContainer {
  margin: 20px auto;
  max-width: 500px;
}

.navLogout{
  cursor:pointer;
  
}